* {
    box-sizing: border-box;
}

#content_left {
    width: 40vw;
    height: 90vh;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #f0f2f5;
    float: left;
}

#content_right {
    width: 60vw;
    height: 90vh;
    left: 40vw;
    top: 0;
    position: absolute;
    background-color: #f0f2f5;
    float: left;
}

#content_bottom {
    width: 100vw;
    height: 10vh;
    left: 0;
    top: 90vh;
    position: absolute;
    background-color: #4BAE50;
    float: left;
    padding-top: 2vh;
    padding-left: 24px;
}

#content_bottom img {
    margin-right: 16px;
    width: 6vh;
    height: 6vh;
}

#content_bottom h1 {
    display: inline;
    vertical-align: middle;
    line-height: 6vh;
    height: 6vh;
    color: white;
}

.button_post {
    width: 100%;
    background-color: #4BAE50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 14px 36px 14px 36px;
    font-size: 18px;
}

#login-container {
    width: 340px;
    height: 450px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid gray;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(45vh - 225px);
}

input {
    border: 2px solid #cccccc;
    border-radius: 6px;
    width: 100%;
    padding: 14px 22px 14px 22px;
    margin: 8px 0;
}

input:focus {
    border: 2px solid #4BAE50;
    outline: none;
}

#intro-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
}

#intro-container h1,
#intro-container h2 {
    text-align: center;
}